body {
	margin: 0;
	background-color: #f5f5f5;
}
.fb {
	display: flex;
}
.ac {
	align-items: center;
}
.as {
	align-items: start;
}
.ae {
	align-items: end;
}
.jc {
	justify-content: center;
}
.js {
	justify-content: start;
}
.je {
	justify-content: end;
}
.jsa {
	justify-content: space-around;
}
.jsb {
	justify-content: space-between;
}
.jse {
	justify-content: space-evenly;
}
::-webkit-scrollbar-thumb {
	background: #d1d1d1;
	border-radius: 10px;
}
::-webkit-scrollbar {
	width: 0;
}
